@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


html, body{
    background-color: rgb(7, 7, 112);
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;


    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
}

form{
    color: whitesmoke;
    font-size: 40px;
    margin-top: 25%;
}


.input-block{
    margin-bottom: 1rem;
}

.input-block > label, .input-block> input{
    width: 100%;
}


input {
    font-size: 20px;
    outline: none;
    border: 1px solid #916bbf;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    background-color: transparent;
    color: whitesmoke;
    font-weight: 800;
}



.button-block {
    text-align: center;
}

button{
    font-size: 20px;
    outline: none;
    border: 1px solid #916bbf;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    background-color: transparent;
    color: whitesmoke;
    font-weight: 800;
    cursor: pointer;
    width: 50%;
}

button:hover {
    background-color: #3D2C8D;
}


