body {
    background-color: #f4f4f4;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .text-center{
    background-color: #007bff;
    height: 50px;
  }
  